{% extends 'juegos/base_generic.html' %}
<!-- Extiende el template base 'base_generic.html' para mantener la consistencia del diseño. -->

{% block title %}Contraseña Restablecida{% endblock %}
<!-- Define el título de la página como "Contraseña Restablecida". -->

{% block content %}
<div class="container">
    <!-- Contenedor principal con clase 'container' para centrar el contenido. -->
    <h2 class="my-4">Contraseña Restablecida</h2>
    <!-- Título principal de la página con margen superior e inferior. -->

    <p>Tu contraseña ha sido cambiada con éxito. Puedes iniciar sesión con tu nueva contraseña.</p>
    <!-- Mensaje informativo indicando que la contraseña ha sido cambiada. -->

    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
    <!-- Enlace para regresar a la página de inicio de sesión. -->
</div>
{% endblock %}