{% extends 'juegos/base_generic.html' %}
<!-- Extiende el template base 'base_generic.html' para mantener la consistencia del diseño. -->

{% block title %}Correo Enviado{% endblock %}
<!-- Define el título de la página como "Correo Enviado". -->

{% block content %}
<div class="container">
    <!-- Contenedor principal con clase 'container' para centrar el contenido. -->
    <h2 class="my-4">Correo Enviado</h2>
    <!-- Título principal de la página con margen superior e inferior. -->

    <p>Hemos enviado un enlace de restablecimiento de contraseña a tu correo electrónico.</p>
    <!-- Mensaje informativo que indica al usuario que se ha enviado un correo para restablecer la contraseña. -->
</div>
{% endblock %}