{% extends 'juegos/base_generic.html' %}
<!-- Extiende el template base 'base_generic.html' para mantener la consistencia del diseño. -->

{% block title %}Restablecer Contraseña{% endblock %}
<!-- Define el título de la página como "Restablecer Contraseña". -->

{% block content %}
<div class="container">
    <!-- Contenedor principal con clase 'container' para centrar el contenido. -->
    <h2 class="my-4">Restablecer Contraseña</h2>
    <!-- Título principal de la página con margen superior e inferior. -->

    <p>Introduce una nueva contraseña para tu cuenta.</p>
    <!-- Mensaje informativo que indica al usuario que debe introducir una nueva contraseña. -->

    <form method="post">
        {% csrf_token %}
        <!-- Token de seguridad para prevenir ataques CSRF. -->
        
        {{ form.as_p }}
        <!-- Renderiza el formulario utilizando el formato de párrafos (<p>) de Django Forms. -->

        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
        <!-- Botón para enviar el formulario y cambiar la contraseña. -->
    </form>
</div>
{% endblock %}